@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全体のベースレイアウト */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-night text-white font-serif;
}

/* スクロールバーを少しだけ細く */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.5);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
